* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.834);

h1 {
    text-align: center;
    margin: 20px 0;
    font-family: Verdana;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.93);
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}

tr {
    height: 50px;
}

#main {
    background-color: rgb(238, 236, 187);
    font-size: 1.2em
}

tr[class="read"] {
    background-image: linear-gradient(rgb(211, 255, 211), rgb(119, 255, 119));
}

tr[class="to-read"] {
    background-image: linear-gradient(rgb(255, 202, 202), rgb(249, 156, 156));
}

tr[class="in-progress"] {
    background-image: linear-gradient(rgb(226, 226, 255), rgb(158, 158, 255));
}

span {
    display: inline-block;
}

tr[class="to-read"] span[class="status"] {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    background-image: linear-gradient(rgb(255, 126, 126), rgb(167, 52, 52));
}

tr[class="read"] span[class="status"] {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    background-image: linear-gradient(rgb(126, 255, 126), rgb(52, 167, 52));
}

tr[class="in-progress"] span[class="status"] {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    background-image: linear-gradient(rgb(126, 126, 255), rgb(52, 52, 167));
}

span[class="status"], span[class^="rate"] {
    width: 100px;
    height: 30px;
}

span[class^="rate"] > span {
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 5px 2px 2px 2px;;
    background-color: rgba(255, 255, 255, 0.44);
}

span[class~="one"] > span:first-child {
    background-image: linear-gradient(rgb(255, 231, 92), gold);
}

span[class~="two"] > span:nth-child(-n+2) {
    background-image: linear-gradient(rgb(255, 231, 92), gold);
}

span[class~="three"] > span {
    background-image: linear-gradient(rgb(255, 231, 92), gold);
}

span[class="status"] {
    padding-top: 4px;
}